In [1]:
#    1. Print Summary of transaction data set
import pandas as pd
df=pd.read_csv("transactions.csv")

print(df.describe())

       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [2]:
# 2. Print Numbers of Attributes
import pandas as pd

df=pd.read_csv("transactions.csv")
rows,columns=df.shape  #it will return a tuple

print(rows)
print(columns)

10
5

In [3]:
# 3. Print Numbers of Records

print(len(df))

10

In [4]:
# 4. Get the row names

row_names=df.index
print(row_names)

RangeIndex(start=0, stop=10, step=1)

In [5]:
# 5. Get the column names

c=df.columns
print(c.tolist())

['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quantity']

In [6]:
#6. View top 10 Records

print(df.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [7]:
#7.Change the name of column “ Quantity” to “Quant”

df.rename(columns={"Quantity":"Quant"} ,inplace=True)
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1
5              6      2013-12-23     2.0          5      6
6              7      2013-12-30     3.0          4      1
7              8      2014-04-24     NaN          2      3
8              9      2015-04-24     7.0          4      3
9             10      2016-05-08     3.0          4      4

In [8]:
#8.Change the name of columns ProductID and UserID to PID and UID respectively

df.rename(columns={'ProductID': "PID","UserID":"UID"},inplace=True)
print(df)

   TransactionID TransactionDate  UID  PID  Quant
0              1      2010-08-21  7.0    2      1
1              2      2011-05-26  3.0    4      1
2              3      2011-06-16  3.0    3      1
3              4      2012-08-26  1.0    2      3
4              5      2013-06-06  2.0    4      1
5              6      2013-12-23  2.0    5      6
6              7      2013-12-30  3.0    4      1
7              8      2014-04-24  NaN    2      3
8              9      2015-04-24  7.0    4      3
9             10      2016-05-08  3.0    4      4

In [9]:
#9. Order the rows of transactions by TransactionId descending, if ascending then ascending=True


df_sorted_ascending=df.sort_values(by=["TransactionID"],ascending=True)
df_sorted_decending=df.sort_values(by=['TransactionID'], ascending=False)

print(df_sorted_ascending)
print(df_sorted_decending)





df.sort_values(by=['TransactionID'],ascending=False,inplace=True)
print(df)

   TransactionID TransactionDate  UID  PID  Quant
0              1      2010-08-21  7.0    2      1
1              2      2011-05-26  3.0    4      1
2              3      2011-06-16  3.0    3      1
3              4      2012-08-26  1.0    2      3
4              5      2013-06-06  2.0    4      1
5              6      2013-12-23  2.0    5      6
6              7      2013-12-30  3.0    4      1
7              8      2014-04-24  NaN    2      3
8              9      2015-04-24  7.0    4      3
9             10      2016-05-08  3.0    4      4
   TransactionID TransactionDate  UID  PID  Quant
9             10      2016-05-08  3.0    4      4
8              9      2015-04-24  7.0    4      3
7              8      2014-04-24  NaN    2      3
6              7      2013-12-30  3.0    4      1
5              6      2013-12-23  2.0    5      6
4              5      2013-06-06  2.0    4      1
3              4      2012-08-26  1.0    2      3
2              3      2011-06-16  3.0    3      1
1              2      2011-05-26  3.0    4      1
0              1      2010-08-21  7.0    2      1
   TransactionID TransactionDate  UID  PID  Quant
9             10      2016-05-08  3.0    4      4
8              9      2015-04-24  7.0    4      3
7              8      2014-04-24  NaN    2      3
6              7      2013-12-30  3.0    4      1
5              6      2013-12-23  2.0    5      6
4              5      2013-06-06  2.0    4      1
3              4      2012-08-26  1.0    2      3
2              3      2011-06-16  3.0    3      1
1              2      2011-05-26  3.0    4      1
0              1      2010-08-21  7.0    2      1

In [10]:
#10. Order the rows of transactions by Quantity ascending, TransactionDate descending

df.sort_values(by=['Quant','TransactionDate'],ascending=[True,False] ,inplace=True)
print(df)

   TransactionID TransactionDate  UID  PID  Quant
6              7      2013-12-30  3.0    4      1
4              5      2013-06-06  2.0    4      1
2              3      2011-06-16  3.0    3      1
1              2      2011-05-26  3.0    4      1
0              1      2010-08-21  7.0    2      1
8              9      2015-04-24  7.0    4      3
7              8      2014-04-24  NaN    2      3
3              4      2012-08-26  1.0    2      3
9             10      2016-05-08  3.0    4      4
5              6      2013-12-23  2.0    5      6

In [11]:
df_sorted = df.sort_values(by=["Quant", "TransactionDate"],ascending=[True, False])
print(df_sorted.head())

   TransactionID TransactionDate  UID  PID  Quant
6              7      2013-12-30  3.0    4      1
4              5      2013-06-06  2.0    4      1
2              3      2011-06-16  3.0    3      1
1              2      2011-05-26  3.0    4      1
0              1      2010-08-21  7.0    2      1

In [12]:
# 11. Set the column order of Transactions as ProductID, Quantity, TransactionDate, TransactionID, UserID


df_reordered=df[['PID', 'Quant', 'TransactionDate', 'TransactionID', 'UID']]
print(df_reordered)

   PID  Quant TransactionDate  TransactionID  UID
6    4      1      2013-12-30              7  3.0
4    4      1      2013-06-06              5  2.0
2    3      1      2011-06-16              3  3.0
1    4      1      2011-05-26              2  3.0
0    2      1      2010-08-21              1  7.0
8    4      3      2015-04-24              9  7.0
7    2      3      2014-04-24              8  NaN
3    2      3      2012-08-26              4  1.0
9    4      4      2016-05-08             10  3.0
5    5      6      2013-12-23              6  2.0

In [13]:
# 12. Make UserID the first column of transactions

df_reordered=df[['UID','PID', 'Quant', 'TransactionDate', 'TransactionID']]
print(df_reordered)

   UID  PID  Quant TransactionDate  TransactionID
6  3.0    4      1      2013-12-30              7
4  2.0    4      1      2013-06-06              5
2  3.0    3      1      2011-06-16              3
1  3.0    4      1      2011-05-26              2
0  7.0    2      1      2010-08-21              1
8  7.0    4      3      2015-04-24              9
7  NaN    2      3      2014-04-24              8
3  1.0    2      3      2012-08-26              4
9  3.0    4      4      2016-05-08             10
5  2.0    5      6      2013-12-23              6

In [14]:
# 13. Extracting arrays from a Data Frame. Get the 2nd column

print(df)
second_column_array = df.iloc[:, 1].to_numpy() #we can also use .values instead of to_numpy()
print("\nSecond column as NumPy array:")
print(second_column_array)

   TransactionID TransactionDate  UID  PID  Quant
6              7      2013-12-30  3.0    4      1
4              5      2013-06-06  2.0    4      1
2              3      2011-06-16  3.0    3      1
1              2      2011-05-26  3.0    4      1
0              1      2010-08-21  7.0    2      1
8              9      2015-04-24  7.0    4      3
7              8      2014-04-24  NaN    2      3
3              4      2012-08-26  1.0    2      3
9             10      2016-05-08  3.0    4      4
5              6      2013-12-23  2.0    5      6

Second column as NumPy array:
['2013-12-30' '2013-06-06' '2011-06-16' '2011-05-26' '2010-08-21'
 '2015-04-24' '2014-04-24' '2012-08-26' '2016-05-08' '2013-12-23']

In [15]:
second_column_array = df.iloc[:, 1].values
print("\nSecond column as NumPy array:")
print(second_column_array)

Second column as NumPy array:
['2013-12-30' '2013-06-06' '2011-06-16' '2011-05-26' '2010-08-21'
 '2015-04-24' '2014-04-24' '2012-08-26' '2016-05-08' '2013-12-23']

In [16]:
# 14. Get the ProductID Array

product_id_array=df.iloc[:,3].to_numpy()
print(product_id_array)

[4 4 3 4 2 4 2 2 4 5]

In [17]:
#16.Row subsetting, subset rows 1,3 and 6

subset_rows = df.iloc[[0, 2, 5]]
print(subset_rows)

   TransactionID TransactionDate  UID  PID  Quant
6              7      2013-12-30  3.0    4      1
2              3      2011-06-16  3.0    3      1
8              9      2015-04-24  7.0    4      3

In [18]:
# 17. subset rows excluding 1,3 and 6
subset_rows = df.iloc[[1,4,7,8,9]]
print(subset_rows)


# another way 
print("\n\n")
sub=df.iloc[1:9:2]
print(sub)

   TransactionID TransactionDate  UID  PID  Quant
4              5      2013-06-06  2.0    4      1
0              1      2010-08-21  7.0    2      1
3              4      2012-08-26  1.0    2      3
9             10      2016-05-08  3.0    4      4
5              6      2013-12-23  2.0    5      6



   TransactionID TransactionDate  UID  PID  Quant
4              5      2013-06-06  2.0    4      1
1              2      2011-05-26  3.0    4      1
8              9      2015-04-24  7.0    4      3
3              4      2012-08-26  1.0    2      3

In [19]:
#18. Subset the first three rows
import pandas as pd
df=pd.read_csv("transactions.csv")
df.iloc[0:3:1]

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1

In [20]:
# 19. Subset the last 2 rows
print(df.tail(2))

print("\n")

print(df.iloc[len(df)-2:len(df)])

   TransactionID TransactionDate  UserID  ProductID  Quantity
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4


   TransactionID TransactionDate  UserID  ProductID  Quantity
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [21]:
# 20. Subset rows excluding the last 2 rows

print(df.head(8))

print("\n")

print(df.iloc[0:len(df)-2])

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3


   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3

In [22]:
# 21. Subset rows excluding the first 3 rows

print(df.tail(10-3))

print("\n")

print(df.iloc[3:len(df)])

   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4


   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [23]:
#22. Subset rows where Quantity>1
s=df[df['Quantity']>1]
print(s)

   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [24]:
#23. Subset rows where UserID=2

s=df[df['UserID']==2]
print(s)

   TransactionID TransactionDate  UserID  ProductID  Quantity
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6

In [25]:
#24. Subset rows where Quantity>1 and UserID=2
print(df)

print("\n\n")
s=df[ (df['Quantity']>1) & (df['UserID']==2) ]
print(s)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4



   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6

In [26]:
#25. Subset rows where Quantity + UserID is >3

import pandas as pd
df=pd.read_csv("transactions.csv")
s=df[ (df['Quantity']) + (df['UserID'])>3 ]
print(s)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [27]:
# 26. Subset rows where an external array, foo, is True

dff=df.head(4)
foo = [True, False, True, False] #this is a list of boolean values
subset_rows = dff[foo]
print(subset_rows)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1

In [28]:
#27. Subset rows where an external array, bar, is positive

import numpy as np

bar=np.array([1,-1,2,-3,4,-4,5,0,3,-2])

subset_rows=df[bar>0]
print(subset_rows)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
6              7      2013-12-30     3.0          4         1
8              9      2015-04-24     7.0          4         3

In [29]:
#28. Subset rows where foo is TRUE or bar is negative


foo = [True, False, True, False,True,True,True,False,True,True]
bar=np.array([1,-1,2,-3,4,-4,5,0,3,-2])

subset_rows=df[(foo) & (bar<0)]
print(subset_rows)

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6
9             10      2016-05-08     3.0          4         4

In [30]:
#29. Subset the rows where foo is not TRUE and bar is not negative

foo = np.array([True, False, True, False,True,True,True,False,True,True])
bar=np.array([1,1,2,3,4,-4,5,1,3,-2])

subset_rows=df[(~foo) & (bar>0)]
print(subset_rows)

   TransactionID TransactionDate  UserID  ProductID  Quantity
1              2      2011-05-26     3.0          4         1
3              4      2012-08-26     1.0          2         3
7              8      2014-04-24     NaN          2         3

In [31]:
#30. Subset by columns 1 and 3
print(df)

s=df.iloc[:,[1,3]]
print("\n")

print(s)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4


  TransactionDate  ProductID
0      2010-08-21          2
1      2011-05-26          4
2      2011-06-16          3
3      2012-08-26          2
4      2013-06-06          4
5      2013-12-23          5
6      2013-12-30          4
7      2014-04-24          2
8      2015-04-24          4
9      2016-05-08          4

In [32]:
#31. Subset by columns TransactionID and TransactionDate

print(df)

select_column=['TransactionID','TransactionDate']
s=df[select_column]

print(s)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4
   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [33]:
#32. Subset by columns TransactionID and TransactionDate with logical operator
subset = df[df['Quantity'] > 1][['TransactionID','TransactionDate']]
print(subset)

   TransactionID TransactionDate
3              4      2012-08-26
5              6      2013-12-23
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [34]:
# 33. Subset columns by a variable list of column names
columns_to_select = ['TransactionID', 'TransactionDate']
subset_columns = df[columns_to_select]
print(subset_columns)

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [35]:
#34. Subset columns excluding a variable list of column names
columns_to_exclude = ['Quantity', 'ProductID']
subset_columns_excluded = df[[col for col in df.columns if col not in columns_to_exclude]]
print(subset_columns_excluded)

   TransactionID TransactionDate  UserID
0              1      2010-08-21     7.0
1              2      2011-05-26     3.0
2              3      2011-06-16     3.0
3              4      2012-08-26     1.0
4              5      2013-06-06     2.0
5              6      2013-12-23     2.0
6              7      2013-12-30     3.0
7              8      2014-04-24     NaN
8              9      2015-04-24     7.0
9             10      2016-05-08     3.0

In [43]:
#35. Inserting and updating values
import pandas as pd
df=pd.read_csv("transactions.csv")


print(df)
df.loc[len(df)] = [111,'2003-12-02',111,111,111]
print(df)

print("\n\n")
df.loc[df['UserID'] == 2, 'Quantity'] = 222
print(df)


print("\n\n")
df['Foo'] = df['UserID'] + df['ProductID']
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4
    TransactionID TransactionDate  UserID  ProductID  Quantity
0               1      2010-08-21     7.0          2         1
1               2      2011-05-26     3.0          4         1
2               3      2011-06-16     3.0          3         1
3               4      2012-08-26     1.0          2         3
4               5      2013-06-06     2.0          4         1
5               6      2013-12-23     2.0          5         6
6               7      2013-12-30     3.0          4         1
7               8      2014-04-24     NaN          2         3
8               9      2015-04-24     7.0          4         3
9              10      2016-05-08     3.0          4         4
10            111      2003-12-02   111.0        111       111



    TransactionID TransactionDate  UserID  ProductID  Quantity
0               1      2010-08-21     7.0          2         1
1               2      2011-05-26     3.0          4         1
2               3      2011-06-16     3.0          3         1
3               4      2012-08-26     1.0          2         3
4               5      2013-06-06     2.0          4       222
5               6      2013-12-23     2.0          5       222
6               7      2013-12-30     3.0          4         1
7               8      2014-04-24     NaN          2         3
8               9      2015-04-24     7.0          4         3
9              10      2016-05-08     3.0          4         4
10            111      2003-12-02   111.0        111       111



    TransactionID TransactionDate  UserID  ProductID  Quantity    Foo
0               1      2010-08-21     7.0          2         1    9.0
1               2      2011-05-26     3.0          4         1    7.0
2               3      2011-06-16     3.0          3         1    6.0
3               4      2012-08-26     1.0          2         3    3.0
4               5      2013-06-06     2.0          4       222    6.0
5               6      2013-12-23     2.0          5       222    7.0
6               7      2013-12-30     3.0          4         1    7.0
7               8      2014-04-24     NaN          2         3    NaN
8               9      2015-04-24     7.0          4         3   11.0
9              10      2016-05-08     3.0          4         4    7.0
10            111      2003-12-02   111.0        111       111  222.0

In [45]:
# #36. Convert the TransactionDate column to type Date
df['TransactionDate'] = pd.to_datetime(df['TransactionDate'])
print(df.dtypes)

TransactionID               int64
TransactionDate    datetime64[ns]
UserID                    float64
ProductID                   int64
Quantity                    int64
Foo                       float64
dtype: object

In [38]:
#37. Insert a new column, Foo=UserID+ProductID

df['Foo'] = df['UserID'] + df['ProductID']
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity  Foo
0              1      2010-08-21     7.0          2         1  9.0
1              2      2011-05-26     3.0          4         1  7.0
2              3      2011-06-16     3.0          3         1  6.0
3              4      2012-08-26     1.0          2         3  3.0
4              5      2013-06-06     2.0          4       222  6.0